body{
    background-color: white;
}

{
    
    margin:0px;
}
ul.top
{
    list-style-type: none;
    margin:0px;
    padding:0px;
    overflow:hidden;
    background-color: white;
    border:2px solid black;
}

ul.top li.topright
{
    float:right;
}

ul.top li.topright a
{
    display:block;
    padding:10px;
    text-align:center;
    text-decoration: none;
    font-size: smaller;
    cursor:pointer;
    height:21px;
}

ul.top li.topright a:hover
{
    background-color: black;
    color:white;
    padding:12px;
}

ul.top li.topleft
{
    float:left;
    padding:10px;
    font-size: large;
    display:block;
}

ul.top button
{
    border:none;
    font-size: smaller;
    padding:10px;
    text-align: center;
    margin:3px;
    cursor:pointer;
    
}

ul.top button:hover
{
    padding:12px;
}

ul.top button.button2
{
    background-color: salmon;
}

.container{
    background-color:wheat;
    color: black;
    width: 100%;
    height:100px;
border-radius: 5px solid white;

}
.adn{
    float:right;
}
.hac{
    float: left;
    
}
.hac > a:link {
    width:25px;
    background-color: whitesmoke;
    color: rgb(21, 21, 219);
    text-align:center;
    
}
.sps{
    background-color: white;
    width: 100%;
    height:20px;
}
.btn{
    background-color:darkgoldenrod ;
    height: 20px;
    width: 50px;
}
.box{
    height: 300px;
    width: 500px;
    background-color: black;
    border-radius: 3px solid white;
    float:left;
}
.check{
    background-color: darkgoldenrod;
    text-align: center;
    width: 200px;
    height: 20px;
    border-radius: 3px;
    color: black;
    font-family: fantasy;
    float: right;
}
.ni{
    width:700px;
    height: 250px;
    background-color: white;
}
.admin{
    background-color: gray;
    border-radius: 15px 15px 20px 20px;
    line-height: 50px;
    padding-bottom: 10px;
}
.padd{
    height:500px;
    width: 300px;
    background-color: grey;
    border-top: groove;
    border-radius: 15px 15px 15px 15px;
}
.padd:hover{
    color: indianred;
    border-radius: 3px;
    border: 3px 3px 3px 3px;
   
}
